@page "/accounts"
@inject IDialogService DialogService
@inject VaultService VaultService
@inject LoadingService Loader
<div class="dashboard-scroll-container">
<MudContainer MaxWidth="MaxWidth.Medium">
    <MudPaper>
        <MudIconButton Icon="fas fa-plus" Color="Color.Tertiary" OnClick="AddAccountAsync" />
            <MudText Typo="Typo.h5">Accounts</MudText>
            <MudTextField @bind-Value="searchString"
                          Placeholder="Search All Accounts"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          FullWidth="true"
                          @onkeydown="HandleKeyDown"/>
        <MudList T="string">
            @foreach (var account in AccountsDto.Values)
            {
                <MudListItem Icon="@Icons.Material.Filled.AccountBalance"
                             OnClick="@(() => EditAccount(account))">
                    <MudHighlighter Text="@account.Name"
                                    HighlightedText="@searchString" />
                    <MudText Typo="Typo.body2">
                        @account.AccountType
                    </MudText>
                    <MudMenu Icon="@Icons.Material.Filled.Settings"
                             Color="Color.Tertiary">
                        <MudMenuItem Label="Remove"
                                      Icon="@Icons.Material.Filled.Delete"
                                      OnClick="@(() => DeleteAccountAsync(account.Id))" />
                    </MudMenu>
                </MudListItem>
            }
        </MudList>
        </MudPaper>
    </MudContainer>
    </div>
@code {
    string searchString;
    public async Task EditAccount(AccountDto account)
    {
        var parameters = new DialogParameters
        {
            ["AccountEditDto"] = account
        };

        var options = new DialogOptions() { CloseButton = true, FullWidth = true, MaxWidth = MaxWidth.Small, Position = DialogPosition.Center };
        var dialog = await DialogService.ShowAsync<Account>("Edit Account", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            if (result.Data is AccountDto data && data != null)
            {
                AccountsDto[data.Id]= data;
            }
        }

    }
    public async Task DeleteAccountAsync(long Id)
    {
        await VaultService.DeleteAccountAsync(Id);
        AccountsDto.Remove(Id); 
    }
    public async Task AddAccountAsync()
    {
        var options = new DialogOptions() { CloseButton = true, FullWidth = true, MaxWidth = MaxWidth.Small, Position = DialogPosition.Center };
        var dialog = await DialogService.ShowAsync<Account>("Add Account", options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            if (result.Data is AccountDto data && data != null)
            {
                AccountsDto.Add(data.Id,  data);
            }
        }
    }
    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await RefreshAccounts();
        }
    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            // await base.OnInitializedAsync();
            Loader.IsLoading = true;
            await RefreshAccounts();

            Loader.IsLoading = false;
        }
        catch (Exception ex)
        {
            Loader.IsLoading = false;
            // throw;
        }
    }

    private async Task RefreshAccounts()
    {
        var accounts = await VaultService.GetAccoutsAsync("lunga@gmail.com", searchString);
        AccountsDto = accounts.ToDictionary(a => a.Id);
    }
    private Dictionary<long, AccountDto> AccountsDto = new();
}
