@page "/beneficiaries"
@using VaultUI.Data.Dto
@inject IDialogService DialogService
@inject VaultService VaultService
@inject LoadingService Loader

<div class="dashboard-scroll-container">
<MudContainer MaxWidth="MaxWidth.Medium">
    <MudPaper>
        <MudIconButton Icon="fas fa-plus" Color="Color.Tertiary" OnClick="AddBeneficiaryAsync"/>
            <MudText Typo="Typo.h5">Beneficiaries</MudText>
        <MudTextField @bind-Value="searchString"
                          Placeholder="Search All Beneficiaries..."
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          FullWidth="true"
                      @onkeydown="HandleKeyDownAsync" />
        <MudList T="BeneficiaryDto">
            @foreach (var beneficiary in BeneficiariesDto)
        {
                <MudListItem Text="@beneficiary.Name" SecondaryText="@beneficiary.Relationship" Icon="@Icons.Material.Filled.People" OnClick="@(() => EditBeneficiary(beneficiary))">
                    <MudHighlighter Text="@beneficiary.Name" HighlightedText="@searchString"></MudHighlighter>
                </MudListItem>
        }
</MudList>
</MudPaper>
</MudContainer>
</div>
@code {


    public async Task EditBeneficiary(BeneficiaryDto policy)
    {
        var parameters = new DialogParameters
        {
            ["BeneficiaryEditDto"] = policy
        };
        var options = new DialogOptions() { CloseButton = true, FullWidth = true, MaxWidth = MaxWidth.Small, Position = DialogPosition.Center };
        var dialog = await DialogService.ShowAsync<Beneficiary>("Edit Beneficiary", parameters, options);
        var result = await dialog.Result;
    }
    string searchString = "";
    public IEnumerable<BeneficiaryDto> BeneficiariesDto = new List<BeneficiaryDto>();
    private async Task HandleKeyDownAsync(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await RefreshBenefeciaries();
        }
    }

    public async Task AddBeneficiaryAsync()
    {
        var options = new DialogOptions() { CloseButton = true,FullWidth=true, MaxWidth = MaxWidth.Small, Position=DialogPosition.Center };
        var dialog = await DialogService.ShowAsync<Beneficiary>("Add Beneficiary", options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
        }
    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Loader.OnChange += StateHasChanged;

            await base.OnInitializedAsync();
            Loader.IsLoading = true;
            // await Task.Delay(3000);
            await RefreshBenefeciaries();

            Loader.IsLoading = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            Loader.IsLoading = false;
            // throw;
        }
    }
    private async Task RefreshBenefeciaries()
    {
        BeneficiariesDto = await VaultService.GetBeneficiariesAsync("lunga@gmail.com", searchString);
    }

}