@page "/beneficiaries"
@using VaultUI.Data.Dto
@inject IDialogService DialogService
@inject VaultService VaultService
@inject LoadingService Loader
@inject AuthService AuthService

<div class="dashboard-scroll-container">
<MudContainer MaxWidth="MaxWidth.Medium">
    <MudPaper>
        <MudIconButton Icon="fas fa-plus" Color="Color.Tertiary" OnClick="AddBeneficiaryAsync"/>
            <MudText Typo="Typo.h5">Beneficiaries</MudText>
        <MudTextField @bind-Value="searchString"
                          Placeholder="Search All Beneficiaries..."
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          FullWidth="true"
                      @onkeydown="HandleKeyDownAsync" />
            <MudList T="BeneficiaryDto">
            @foreach (var beneficiary in BeneficiariesDto.Values)
        {
                <MudListItem Icon="@Icons.Material.Filled.People"
                     OnClick="@(() => EditBeneficiary(beneficiary))">
            <MudHighlighter Text="@beneficiary.Name"
                                        HighlightedText="@searchString" />
                        <MudMenu Icon="@Icons.Material.Filled.Settings"
                                 Color="Color.Tertiary">
                            <MudMenuItem Label="Remove"
                                         Icon="@Icons.Material.Filled.Delete"
                                         OnClick="@(() => DeleteBeneficiaryAsync(beneficiary.Id))" />
                        </MudMenu>
            <MudText Typo="Typo.body2">
                @beneficiary.Relationship
            </MudText>
        </MudListItem>
        }
</MudList>
</MudPaper>
</MudContainer>
</div>
    @code {


    public async Task EditBeneficiary(BeneficiaryDto policy)
    {
        var parameters = new DialogParameters
        {
            ["BeneficiaryEditDto"] = policy
        };
        var options = new DialogOptions() { CloseButton = true, FullWidth = true, MaxWidth = MaxWidth.Small, Position = DialogPosition.Center };
        var dialog = await DialogService.ShowAsync<Beneficiary>("Edit Beneficiary", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            if (result.Data is BeneficiaryDto data && data != null)
            {
                BeneficiariesDto[data.Id] =  data;
            }
        }
    }

    public async Task DeleteBeneficiaryAsync(long id)
    {
        await VaultService.DeleteBeneficiaryAsync(id);
        BeneficiariesDto.Remove(id);
    }
    string searchString = "";
    public Dictionary<long, BeneficiaryDto> BeneficiariesDto = new();
    private async Task HandleKeyDownAsync(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await RefreshBenefeciaries();
        }
    }

    public async Task AddBeneficiaryAsync()
    {
        var options = new DialogOptions() { CloseButton = true,FullWidth=true, MaxWidth = MaxWidth.Small, Position=DialogPosition.Center };
        var dialog = await DialogService.ShowAsync<Beneficiary>("Add Beneficiary", options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            if (result.Data is BeneficiaryDto data && data != null)
            {
                BeneficiariesDto.Add(data.Id, data);
            }
        }
    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            Loader.IsLoading = true;
            await RefreshBenefeciaries();

            Loader.IsLoading = false;
        }
        catch (Exception ex)
        {
            Loader.IsLoading = false;
            // throw;
        }
    }
    private async Task RefreshBenefeciaries()
    {
        var beneficiaries = await VaultService.GetBeneficiariesAsync(AuthService.Email ?? string.Empty, searchString);
        BeneficiariesDto = beneficiaries.ToDictionary(b => b.Id);
    }

}