@page "/dashboard"
@using VaultUI.Data.Dto
@inject VaultService VaultService
@inject LoadingService Loader
<div class="dashboard-scroll-container">
	<MudContainer MaxWidth="MaxWidth.Medium">
	<MudPaper Class="pa-4">
            <MudGrid>
				<MudItem xs="12">
					<MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
						<MudFab StartIcon="@Icons.Material.Filled.NotificationsActive" Label="Activate Monitoring" Color="Color.Tertiary" />
					</MudPaper>
                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                        <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Start">
                            @LastStatusText
						</MudAlert>
                    </MudPaper>
				</MudItem>
		</MudGrid>
		<MudGrid>
			<MudItem xs="12">
				<MudCard Hover="true"
				         Ripple="true"
				         Class="stat-card"
						 Style="color:burlywood">
					<MudCardHeader>
						<CardHeaderContent>
							<MudIcon Icon="@Icons.Material.Filled.Policy"/>
								<MudText Typo="Typo.h6">Insurance Policies</MudText>
								<MudText Typo="Typo.body2">List insurers and policy numbers</MudText>
								<MudText Typo="Typo.body2">so your family knows where to go.</MudText>
						</CardHeaderContent>
					</MudCardHeader>
					<MudCardContent>
						<MudText Typo="Typo.h4">@DashboardDto.PolicyCount</MudText>
					</MudCardContent>
				</MudCard>
			</MudItem>
            <MudItem xs="12">
				<MudCard Class="stat-card"
				         Style="color:cornflowerblue">
					<MudCardHeader>
						<CardHeaderContent>
								<MudIcon Icon="@Icons.Material.Filled.AccountBalance" />
								<MudText Typo="Typo.h6">Bank & Accounts</MudText>
								<MudText Typo="Typo.body2">List banks and accounts references</MudText>
								<MudText Typo="Typo.body2">so your family can find them.</MudText>
						</CardHeaderContent>
					</MudCardHeader>
					<MudCardContent>
						<MudText Typo="Typo.h4">@DashboardDto.AccountCount</MudText>
					</MudCardContent>
				</MudCard>
			</MudItem>
            <MudItem xs="12">
				<MudCard Class="stat-card"
				         Style="color:cadetblue">
					<MudCardHeader>
						<CardHeaderContent>
							<MudIcon Icon="@Icons.Material.Filled.People"/>
								<MudText Typo="Typo.h6">Beneficiaries</MudText>
								<MudText Typo="Typo.body2">Identify the people connected to your affairs.</MudText>
						</CardHeaderContent>
					</MudCardHeader>
					<MudCardContent>
						<MudText Typo="Typo.h4"
								 ref>
							@DashboardDto.BeneficiaryCount
						 </MudText>
					</MudCardContent>
				</MudCard>
			</MudItem>
            <MudItem xs="12">
				<MudCard Class="stat-card"
				         Style="color:burlywood">
					<MudCardHeader>
						<CardHeaderContent>
							<MudIcon Icon="@Icons.Material.Filled.Drafts"/>
								<MudText Typo="Typo.h6">Wills & Estate</MudText>
								<MudText Typo="Typo.body2">Let your family know where your will is kept</MudText>
								<MudText Typo="Typo.body2">and manages is it.</MudText>
						</CardHeaderContent>
					</MudCardHeader>
					<MudCardContent>
						<MudText Typo="Typo.h4">@DashboardDto.OtherCount</MudText>
					</MudCardContent>
				</MudCard>
			</MudItem>
		</MudGrid>
	</MudPaper>
</MudContainer>
</div>
<MudDialog @bind-Visible="_visible" Options="_dialogOptions">
	<TitleContent>
		<MudText Typo="Typo.h6">
			Confirmation
		</MudText>
	</TitleContent>
	<DialogContent>
		<p>Checking your status may result to additional charges. Are you sure you want to re-sync your status?</p>
	</DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Class="px-10">Yes</MudButton>
		<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Cancel" Class="px-10">No</MudButton>
	</DialogActions>
</MudDialog>

@code {
	private bool _visible;
	private readonly DialogOptions _dialogOptions = new() { FullWidth = true };


	private void ResyncStatus() => _visible = true;

	private void Cancel() => _visible = false;
	private void Submit()
	{
		_visible = false;
	}

	private static DashboardDto DashboardDto = new DashboardDto();

	Color badgeColor = Color.Warning;
	private string LastStatusText = Constants.LastStatusText;
	protected override async Task OnInitializedAsync()
	{
		try
		{
			Loader.IsLoading = true;
			DashboardDto = await VaultService.GetDashboardAsync("lunga@gmail.com");
			Loader.IsLoading = false;
		}
        catch (Exception ex)
        {
			DashboardDto = new DashboardDto();
			Loader.IsLoading = false;
            //throw;
        }
    }
}
