@page "/dashboard"
@using VaultUI.Data.Dto
@inject VaultService VaultService
<div class="dashboard-scroll-container">
<MudContainer>
	<MudPaper Class="pa-4">
            <MudGrid>
                @* <MudItem xs="12"> *@
                <MudContainer Class="mt-6">
				<MudAlert Severity="Severity.Success" ContentAlignment="HorizontalAlignment.Start">@LastStatusText

					<MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.Sync" Size="Size.Small" OnClick="ResyncStatus"/>
                        </MudAlert>
                    </MudContainer>
                @* </MudItem> *@
		</MudGrid>
		<MudGrid>
			<MudItem xs="12">
				<MudCard Hover="true"
				         Ripple="true"
				         Class="stat-card"
						 Style="color:burlywood">
					<MudCardHeader>
						<CardHeaderContent>
							<MudIcon Icon="@Icons.Material.Filled.Policy"/>
							<MudText Typo="Typo.h6">Insurance Policies</MudText>
						</CardHeaderContent>
					</MudCardHeader>
					<MudCardContent>
						<MudText Typo="Typo.h4">@DashboardDto.PolicyCount</MudText>
					</MudCardContent>
				</MudCard>
			</MudItem>
            <MudItem xs="12">
				<MudCard Class="stat-card"
				         Style="color:cornflowerblue">
					<MudCardHeader>
						<CardHeaderContent>
							<MudIcon Icon="@Icons.Material.Filled.CommentBank"/>
							<MudText Typo="Typo.h6">Bank & Accounts</MudText>
						</CardHeaderContent>
					</MudCardHeader>
					<MudCardContent>
						<MudText Typo="Typo.h4">@DashboardDto.AccountCount</MudText>
					</MudCardContent>
				</MudCard>
			</MudItem>
            <MudItem xs="12">
				<MudCard Class="stat-card"
				         Style="color:cadetblue">
					<MudCardHeader>
						<CardHeaderContent>
							<MudIcon Icon="@Icons.Material.Filled.People"/>
							<MudText Typo="Typo.h6">Beneficiaries</MudText>
						</CardHeaderContent>
					</MudCardHeader>
					<MudCardContent>
						<MudText Typo="Typo.h4"
								 ref>
							@DashboardDto.BeneficiaryCount
						 </MudText>
					</MudCardContent>
				</MudCard>
			</MudItem>
            <MudItem xs="12">
				<MudCard Class="stat-card"
				         Style="color:burlywood">
					<MudCardHeader>
						<CardHeaderContent>
							<MudIcon Icon="@Icons.Material.Filled.DevicesOther"/>
							<MudText Typo="Typo.h6">Other</MudText>
						</CardHeaderContent>
					</MudCardHeader>
					<MudCardContent>
						<MudText Typo="Typo.h4">@DashboardDto.OtherCount</MudText>
					</MudCardContent>
				</MudCard>
			</MudItem>
		</MudGrid>
	</MudPaper>
</MudContainer>
</div>
<MudDialog @bind-Visible="_visible" Options="_dialogOptions">
	<TitleContent>
		<MudText Typo="Typo.h6">
			Confirmation
		</MudText>
	</TitleContent>
	<DialogContent>
		<p>Checking your status may result to additional charges. Are you sure you want to re-sync your status?</p>
	</DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Class="px-10">Yes</MudButton>
		<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Cancel" Class="px-10">No</MudButton>
	</DialogActions>
</MudDialog>

@code {
	private bool _visible;
	private readonly DialogOptions _dialogOptions = new() { FullWidth = true };


	private void ResyncStatus() => _visible = true;

	private void Cancel() => _visible = false;
	private void Submit()
	{
		//sync status.
		_visible = false;
	}

	private static DashboardDto DashboardDto = new DashboardDto();

	Color badgeColor = Color.Warning;
	private string LastStatusText = Constants.LastStatusText;
	protected override async Task OnInitializedAsync()
	{
		try
		{
				DashboardDto = await VaultService.GetDashboardAsync("lunga@gmail.com");
		}
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
			DashboardDto = new DashboardDto();
            //throw;
        }
    }
}
