@page "/other"
@using VaultUI.Data.Dto
@inject IHttpClientFactory ClientFactory

<div class="dashboard-scroll-container">
<MudContainer MaxWidth="MaxWidth.Medium">
    <MudPaper>
        <MudIconButton Icon="fas fa-plus" Color="Color.Tertiary" />
            <MudText Typo="Typo.h5">Will</MudText>
            <MudTextField @bind-Value="searchString1"
                          Placeholder="Search Others"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          FullWidth="true" />
        <MudList T="string">

            @foreach (var other in others)
            {
                <MudListItem Text="@other.Name" SecondaryText="@other.Description" Icon="@Icons.Material.Filled.Policy" />
                    @* <MudHighlighter Text="@other.Name" HighlightedText="@searchString"></MudHighlighter> *@
                    <MudMenu Icon="@Icons.Material.Filled.Settings"
                             Color="Color.Tertiary">
                        <MudMenuItem Label="Delete" />
                    </MudMenu>
            }
        </MudList>
    </MudPaper>
</MudContainer>
</div>
@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await base.OnInitializedAsync();

            using var request = new HttpRequestMessage(HttpMethod.Get, $"{Constants.API_URL}/others/{"lunga@gmail.com"}");

            var httpClient = ClientFactory.CreateClient();
            using var response = await httpClient.SendAsync(request);

            if (response.IsSuccessStatusCode)
            {
                using var responseStream = await response.Content.ReadAsStreamAsync();
                others = await JsonSerializer.DeserializeAsync<IEnumerable<OtherDto>>(responseStream);
            }
        }
        catch (Exception ex)
        {
            others = new List<OtherDto>();
            // throw;
        }

    }
    private IEnumerable<OtherDto> others = new List<OtherDto>();
    string searchString1 = "";
}