@page "/policies"
@inject IDialogService DialogService
@inject LoadingService Loader
@inject VaultService VaultService

<div class="dashboard-scroll-container">
<MudContainer MaxWidth="MaxWidth.Medium">
       <MudPaper>
        <MudIconButton Icon="fas fa-plus" Color="Color.Tertiary"
                       Onclick="AddPolicyAsync" />
        <MudText Typo="Typo.h5">Policies</MudText>
        <MudTextField @bind-Value="searchString"
                          Placeholder="Search All insurance Policies"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          FullWidth="true"
                      @onkeydown="HandleKeyDownAsync" />
        <MudList T="string">

            @foreach (var policy in PoliciesDto)
            {
                <MudListItem Text="@policy.Name" SecondaryText="@policy.InsuranceType" Icon="@Icons.Material.Filled.Policy" OnClick="@(() => EditPolicy(policy))">
                <MudHighlighter Text="@policy.Name" HighlightedText="@searchString"></MudHighlighter>
                </MudListItem>
            }
        </MudList>
</MudPaper>
</MudContainer>
</div>
@code {
    string searchString;
    private async Task HandleKeyDownAsync(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await RefreshPolicies();
        }
    }
    public async Task EditPolicy(PolicyDto policy)
    {
        var parameters = new DialogParameters
            {
                ["PolicyEditDto"] = policy,
            };

        var options = new DialogOptions() { CloseButton = true, FullWidth = true, MaxWidth = MaxWidth.Small, Position = DialogPosition.Center };
        var dialog = await DialogService.ShowAsync<Policy>("Edit Policy", parameters, options);

    }
    public async Task AddPolicyAsync()
    {
        var options = new DialogOptions() { CloseButton = true, FullWidth = true, MaxWidth = MaxWidth.Small, Position = DialogPosition.Center };
        var dialog = await DialogService.ShowAsync<Policy>("Add Policy", options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {

        }
    }
    public IEnumerable<PolicyDto> PoliciesDto = new List<PolicyDto>();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Loader.OnChange += StateHasChanged;

            await base.OnInitializedAsync();
            Loader.IsLoading = true;
            // await Task.Delay(3000);
            await RefreshPolicies();

            Loader.IsLoading = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            Loader.IsLoading = false;
            // throw;
        }
    }

    public void Dispose()
    {
        Loader.OnChange -= StateHasChanged;
    }

    private async Task RefreshPolicies()
    {
        PoliciesDto = await VaultService.GetPoliciesAsync("lunga@gmail.com", searchString);
    }
}
