@page "/policies"
@inject IDialogService DialogService
@inject LoadingService Loader
@inject VaultService VaultService

<div class="dashboard-scroll-container">
<MudContainer MaxWidth="MaxWidth.Medium">
       <MudPaper>
        <MudIconButton Icon="fas fa-plus" Color="Color.Tertiary"
                       Onclick="AddPolicyAsync" />
        <MudText Typo="Typo.h5">Policies</MudText>
        <MudTextField @bind-Value="searchString"
                          Placeholder="Search All insurance Policies"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          FullWidth="true"
                      @onkeydown="HandleKeyDownAsync" />
        <MudList T="string">
                @foreach (var policy in PoliciesDto.Values)
                {
                    <MudListItem Icon="@Icons.Material.Filled.Policy"
                    OnClick="@(() => EditPolicy(policy))">
                        <MudHighlighter Text="@policy.Name"
                        HighlightedText="@searchString" />

                        <MudText Typo="Typo.body2">
                            @policy.InsuranceType
                        </MudText>
                        <MudMenu Icon="@Icons.Material.Filled.Settings"
                        Color="Color.Tertiary">
                            <MudMenuItem Label="Remove"
                            Icon="@Icons.Material.Filled.Delete"
                            OnClick="@(() => DeleteInsuranceAsync(policy.Id))" />
                        </MudMenu>
                    </MudListItem>
                }
            </MudList>
</MudPaper>
</MudContainer>
</div>
@code {
    string searchString;
    private async Task HandleKeyDownAsync(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await RefreshPolicies();
        }
    }
    public async Task EditPolicy(PolicyDto policy)
    {
        var parameters = new DialogParameters
            {
                ["PolicyEditDto"] = policy,
            };

        var options = new DialogOptions() { CloseButton = true, FullWidth = true, MaxWidth = MaxWidth.Small, Position = DialogPosition.Center };
        var dialog = await DialogService.ShowAsync<Policy>("Edit Policy", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            if (result.Data is PolicyDto data)
            {
                PoliciesDto[data.Id]= data;
            }
        }

    }
    public async Task DeleteInsuranceAsync(long id)
    {
        await VaultService.DeleteInsuranceAsync(id);
        PoliciesDto.Remove(id);
    }
    public async Task AddPolicyAsync()
    {
        var options = new DialogOptions() { CloseButton = true, FullWidth = true, MaxWidth = MaxWidth.Small, Position = DialogPosition.Center };
        var dialog = await DialogService.ShowAsync<Policy>("Add Policy", options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            if(result.Data is PolicyDto data)
            {
                PoliciesDto.Add(data.Id, data);
            }   
        }
    }
    public Dictionary<long, PolicyDto> PoliciesDto = new();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            // await base.OnInitializedAsync();
            Loader.IsLoading = true;
            await RefreshPolicies();

            Loader.IsLoading = false;
        }
        catch (Exception ex)
        {
            Loader.IsLoading = false;
            // throw;
        }
    }

    public void Dispose()
    {
        Loader.OnChange -= StateHasChanged;
    }

    private async Task RefreshPolicies()
    {
        var policies = await VaultService.GetPoliciesAsync("lunga@gmail.com", searchString);
        PoliciesDto = policies.ToDictionary(p => p.Id);
    }
}
