@page "/subscription"
@using System.Text

<div class="dashboard-scroll-container">
<MudContainer MaxWidth="MaxWidth.Medium">
    <MudPaper>
        <MudPaper Class="pa-4">
            <MudStack Spacing="2">
                <MudButton Color="Color.Error" OnClick="OnExpandCollapseClick"  StartIcon="@Icons.Material.Filled.ExpandMore">Subscription</MudButton>
                <MudDivider />
                <MudCollapse Expanded="_expanded">
                    <MudGrid>
                        <MudItem xs="12" md="1">
                            <MudRadioGroup T="CycleType" ValueChanged="OnRadionChaned" Value="Cycle">
                                <MudRadio Color="Color.Primary" Value="@(CycleType.Trial)">Trial</MudRadio>
                                <MudRadio Color="Color.Primary" Value="@(CycleType.Weekly)">Weekly</MudRadio>
                                <MudRadio Color="Color.Primary" Value="@(CycleType.Monthly)">Monthly</MudRadio>
                                <MudRadio Color="Color.Primary" Value="@(CycleType.Quarterly)">Quarterly</MudRadio>
                                <MudRadio Color="Color.Primary" Value="@(CycleType.Yearly)">Yearly</MudRadio>
                            </MudRadioGroup>
                        </MudItem>
                        <MudItem xs="12" md="9" Class="d-flex justify-center align-center my-auto">
                            <MudCard>
                                <MudCardHeader>
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.h5">Subscription Info</MudText>
                                    </CardHeaderContent>
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudText Typo="Typo.body2">@subscriptionDetail</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                        <MudItem xs="12" md="2" Style="width:100%"></MudItem>
                    </MudGrid>
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Subscriptions" Color="Color.Error">Subscribe</MudButton>
                </MudCollapse>
            </MudStack>
        </MudPaper>
        @* <MudText Typo="Typo.h5">History</MudText> *@
       @*  <MudTextField
                      Placeholder="Search History"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Medium"
                      FullWidth="true" />
        <MudList T="string"> *@

            @*  @foreach (var policy in PoliciesDto)
                    {
                        <MudListItem Text="@policy.Name" SecondaryText="@policy.InsuranceType" Icon="@Icons.Material.Filled.Policy" OnClick="@(() => EditPolicy(policy))">
                            <MudHighlighter Text="@policy.Name" HighlightedText="@searchString"></MudHighlighter>
                        </MudListItem>
                    } *@
        @* </MudList> *@
    </MudPaper>
</MudContainer>
</div>
@code {
    StringBuilder subscriptionDetail = new StringBuilder("No Subscription History");
    private void OnRadionChaned(CycleType newValue)
    {
        Cycle = newValue;
        subscriptionDetail.Clear();
        switch (Cycle)
        {
            case CycleType.Trial:
                subscriptionDetail.Append("No Subscription");
                break;
            case CycleType.Weekly:
                subscriptionDetail.AppendLine("Weekly Subscription");
                subscriptionDetail.AppendLine("15.00");
                break;
            case CycleType.Monthly:
                subscriptionDetail.AppendLine("Monthly Subscription");
                subscriptionDetail.AppendLine("29.99");
                break;
            case CycleType.Quarterly:
                subscriptionDetail.AppendLine("Quarterly Subscription");
                subscriptionDetail.AppendLine("49.99");
                break;
            case CycleType.Yearly:
                subscriptionDetail.AppendLine("Yearly Subscription");
                subscriptionDetail.AppendLine("99.99");
                break;
            default:
                subscriptionDetail.Append(string.Empty);
                break;
        }
    }
    public CycleType Cycle { get; set; } 
    bool _expanded = false;

    private void OnExpandCollapseClick()
    {
        _expanded = !_expanded;
    }
}